<%- model_class = Person.new.class -%>
<h1><%=  t '.title', :default => model_class.model_name.human.pluralize %> </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %> </th>
      <th><%= model_class.human_attribute_name(:type_person) %> </th>
      <th><%= model_class.human_attribute_name(:federal_reg) %> </th>
      <th><%= model_class.human_attribute_name(:state_Reg) %> </th>
      <th><%= model_class.human_attribute_name(:born) %> </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.full_name %></td>
        <td><%= t(person.type_person) %></td>
        <td><%= person.federal_reg %></td>
        <td><%= person.state_reg %></td>
        <td><%=l person.born, format: :default %></td>
        <td><%= link_to 'Show', person, :class => 'btn btn-small' %></td>
        <td><%= link_to 'Edit', edit_person_path(person), :class => 'btn btn-small' %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Person', new_person_path, :class => "btn" %>
