<%- model_class = Person.new.class -%>
<h2><%= t(".title") %></h2>

<div class="row">
  <b><%= model_class.human_attribute_name(:id) %>:</b>
  <%= @person.id %>
</div>

<div class="row">
  <b><%= model_class.human_attribute_name(:name) %>:</b>
  <%= @person.full_name %>
</div>

<div class="row">
  <b><%= model_class.human_attribute_name(:born) %>:</b>
  <%=l @person.born, format: :long %>
</div>
<div class="btn-group">
  <%= link_to 'Edit', edit_person_path(@person), :class => "btn" %> |
  <%= link_to 'Back', people_path, :class => "btn" %>
</div>
<div id="placements_list">
  <%= render :partial => "placements/placement_list" %>
</div>
<%= link_to 'New Placement', new_person_placement_path(@person, :format => :js), :remote => true, :id => 'new_placement_link',:class => "btn" %>