<%= simple_form_for([@person,@person.placements.build], :html => {:id => "new_placement", :class => 'form-horizontal', :style => 'display: none;' }, :remote => true) do |f| %>
  <div class="form-imputs">
    <fieldset class="well">
      <%= f.input :type_address, :class=> "combobox", :collection => [:Home, :Officce, :Contact], :prompt => true %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :district %>
      <%= f.input :complement %>
      <%= f.input :zip %>
      <%= f.input :state %>
    </fieldset>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>